@use '../functions' as *;

@media (min-width: 320px) and (max-width: 991px){

  .carousel-item {
    display: flex;
    justify-content: start;
    width: inherit;
    margin-top: toRem(10);
    float: none;
  }

  .carousel-indicators {
    display: none;
  }

  .actions__content-mobile {
    &__paragraphe {
      margin-top: toRem(30);
    }
  }
}