@use '../functions' as *;

@media (min-width: 576px) {
  .actions__content-mobile {
    &__paragraphe {
      margin-top: toRem(30);
    }
    &__carousel {
      display: none;
    }
  }
  .actions__content-mobile__images {
    margin-top: toRem(30);
    &__big {
      margin-bottom: toRem(10);
    }

    &__small {
      display: flex;
      flex-direction: initial;
      flex-wrap: wrap;
      gap: toRem(10);
      img {
        width: 32%;
      }
    }
  }
}

@media (min-width: 992px) {
  .actions__content-mobile {
    &__carousel {
      display: block;
    }
  }

  .actions__content-mobile__images {
    &__big,
    &__small {
      display: none;
    }
  }
}