@use '../functions' as *;

@media (max-width: 768px) {
  .actions__content-mobile {
    &__paragraphe {
      margin-top: toRem(30);
    }
  }
  .actions__content-mobile__images {
    margin-top: toRem(30);
    &__big {
      margin-bottom: toRem(10);
      img {
        width: 100%;
      }
    }

    &__small {
      display: flex;
      flex-direction: initial;
      flex-wrap: wrap;
      gap: toRem(10);
      img {
        width: 32%;
      }
    }
  }
}